/venv
__pycache__
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_9_24,_1_15_PM_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/_speedups.cpython-311-x86_64-linux-gnu.so
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/cli.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/cli-32.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/cli-64.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/cli-arm64.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/console.png
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/gui.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/gui-32.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/gui-64.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/gui-arm64.exe
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/less.png
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/more.png
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/python
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/python3
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/python3.11
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_1_9_24__1_15_PM__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/practice.iml
/.idea/vcs.xml
/.idea/workspace.xml
