@font-face {
  font-family: DraconicFont;
  src: url(../../../public/fonts/Draconis-JRw6B.ttf);
}
body {
  background-image: url(https://dvoxsotka.s3.amazonaws.com/arcane-tavern/spellPageBG.png);
  background-size: cover;
}

.navbar {
  background-color: rgba(12, 12, 12, 0.534);
}

.table-lines {
  background-image: url(../../../public/BackspellTb.png);
  color: aliceblue;
  float: left;
  width: 50%;
  height: 85vh;
  margin-top: 90px;
  left: 3%;

  margin-left: 3%;

  background-color: rgba(12, 12, 12, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #424242;

  overflow-x: hidden;
  border-radius: 5px;

  .custom-table {
    font-family: DraconicFont;
    top: 100px;
    width: 100%;
    border-collapse: collapse;
    a:hover {
      color: #555;
      transition: all 0.2s linear;
    }

    th {
      background-color: rgba(12, 12, 12, 1);
      position: sticky;
      top: 0;
      z-index: 2;
      color: white;
      height: 40px;

      padding: 5px;
      font-size: 21px;
      cursor: pointer;

      &:hover {
        transition: 0.3s;
        color: rgb(68, 5, 68);
      }
    }
    td {
      text-align: center;
      font-size: 21px;
      margin: 125px;
    }
  }

  tr {
    &:hover {
      background-color: rgba(39, 8, 38, 0.9);
      transition: 0.3s;
    }
  }
  .row {
    cursor: pointer;
    padding: 5px;
    color: lightgray;

    &:hover {
      color: lightcyan;
      transition: 0.3s;
    }
  }
}
