@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.navbar {
    // position:absolute;
    position:fixed;
    top: 0px;
    background-color: #1d1d1b3f;
    color:#ffffff;
    height: 60px;
    width: 100%;
    display: flex;
    font-family: "Inconsolata", monospace;
    font-weight: 350;
    line-height: 60px;
    vertical-align: middle;
    user-select: none;

    .logo-wrap {
        
        display: flex;
        height: 60px;
        margin-left: 5%;
        width: 20%;
        .logo {
            background-image: url("../../public/logo.png");
            height: 50px;
            width: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .logo-text {
            font-size: 1vmax;
            margin-left: 15px;
            cursor: pointer;
        }
    }


    .buttons-wrap {
        // display: flex;
        width: 30%;
        height: 60px;
        margin-left: 40%;
        

        .btn {
            position: relative;
            // top: 30%;
            font-size: 1.1vmax;
            transition: 0.3s;
            cursor:pointer;
            // line-height: 0px;
            margin-right: 4%;
            // vertical-align: middle;
    
            &:hover {
                color: #f8f8f8;
                font-weight: 600;            
                
            }
            
    
        }
    }
    

}