.daily-spell-div {
    display: block;
    width: 100%;
    height: 1080px;
    background: linear-gradient(#020202, #191020);
    color: #fff;


        .title-text {
            font-size: 2vmax;
            padding-top: 300px;
            padding-right: 5%;
            float: right;
            display: inline-block;
            text-transform: uppercase;
            background-image: linear-gradient(
            225deg,
            #000000 0%,
            #303030 29%,
            #757575 67%,
            #696969 100% 
            );
            background-size: auto auto;
            background-clip: border-box;
            background-size:110% auto;
            color: #ffffff85;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      .btn-div {
        float: right;
        width: 50%;
            
        button{
                color: #cccccc;
                font-size: 1.1vmax;
                // float: right;
                margin-top: 100px;
                padding: 10px 5%;
                margin-left: 15%;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.6s;
                
                &.no-btn {
                    background-color: transparent;
                    &:hover {
                        color: #666666;
                    }
                    
                }
                
                &.yes-btn {
                    background-color: #21103f;
                    border-radius: 12px;
                    padding: 12px 7%;
                    &:hover {
                        background-color: #190c30;
                        color: #fff;
                        box-shadow: #190c30 10px 10px 100px;
                    }

                }
      }
     
      }

      .show-spell-div {
            display: inline-block;
            float: left;
            width: 30%;
            margin-top: 250px;
            margin-left: 5%;
            user-select: none;

            .gif {
                width: 100%;
                height: auto;
            }
      }


}