body {
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #191020;
  //   overflow: hidden;
  overflow: auto;
}

html {
  margin: 0px 0px;
  padding: 0px 0px;
  scroll-behavior: smooth;
}
* {
  margin: 0px 0px;
  padding: 0px 0px;
}
