
@font-face {
  font-family:DraconicFont ;
  src: url(../Fonts/Draconis-JRw6B.ttf);
}
/* - */
.table-lines {
  position: relative;
  width: 40%;
  max-height: 850px;
  top: 10px;
  left: 10%;
  margin: 1%;
  background-image: url("../IMGs/med.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #424242;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 2%;

}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

/* Firefox scrollbar */
.table-lines {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
  
}

.table-lines::-webkit-scrollbar {
 /* Chrome opera safari */
  scrollbar-width: thin;
}

    .custom-table a:hover {
      color: #555;
    } 
    
    /* .custom-table th, */
    .custom-table td {
      border: 3px solid rgba(5, 5, 5, 0.15);
      padding: 8px;
      text-align: center; /* Center the text in all cells */
      font-size: 16px;
      font-family: DraconicFont;
      font-weight: lighter;
    }
    
    .custom-table th {
      background-color: rgba(12, 12, 12, 1);
      position: sticky;
      top: 0; /* Set the distance from the top where the <th> will stick */
      z-index: 2; /* Set a higher z-index to make sure it appears above the regular cells */
    }
    
  
    
    .custom-table a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-family: DraconicFont;
      font-weight: lighter;
      display: block;
      padding: 8px;
    }
        
    .custom-table td:nth-child(1)
    {

      width: 10px ;
      max-height: 40px;
    }
    
    .custom-table td:nth-child(2)
    {
      width: 350px ;
      word-wrap: break-word; 
      word-break: break-word;
      text-align: left;  
    }

    .custom-table td:nth-child(3)
    {
      width: 20px ;
    }
    
    
    .custom-table td:nth-child(4)
    {
      width: 10px ;
      word-wrap: break-word; 
      word-break: break-word; 
    }

    .custom-table td:nth-child(5)
    {
      width: 25px ;
    
    }
    
    .custom-table td:nth-child(6)
    {
      width: 25px ;
    }
    
  
    
   

    /* CSS Yura */

    body {
      background-color: #202020;
      margin: 0px;
      padding: 0px;
    }
    
    #navbar {
      position: sticky;
      height: 80px;
      background-color: #151515;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
    }
    
  /* --------------Search Bar----------- */
    .search {
      width: 100%;
      position: relative;
      display: flex;
    }
    
    .searchTerm {
      
      font-family: DraconicFont;
      font-size: 120%;
      width: 100%;
      border: 0px solid rgba(242, 242, 242, 0.848);
      border-right: none;
      border-radius: 2%;
      padding: 5px;
      height: 50px;
      border-radius: 10px 0 0 10px;
      outline: none;
      color: rgba(21, 21, 21, 1); /* Text color behind */
      background-color: rgba(238, 235, 235, 0.155);
      
    }
    
    .SearchIco
    {
      float: right;
      height: 100%;
      width: 100%;
    }
    .searchTerm:focus{
      color: rgb(0, 0, 0);
    }
    
    .searchButton {
      
      
      width: 50px;
      height: 50px;
      border: 1px solid red;
      background: red;
      text-align: center;
      color: rgba(167, 121, 121, 0.004);
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 50%;
    }

    .fa-solid fa-magnifying-glass
    {
      position: absolute;
    }
 
  
    /* -------------Sign up ----------- */
    #signupBtn {
      min-width: 100px;
      width: 110px;
      height: 45px;
      border: none;
      border-radius: 10px;
      display: flex;
      background-color: red;
      font-family: DraconicFont;
      font-size: 160%;
      color: rgba(21, 21, 21, 1);
      margin: 1%;
      cursor: pointer;
      transition: all 0.3s linear;
      padding-left: 24px;
      padding-top: 6px;
      box-shadow: 4px 4px 10px black;
    }
    
    #signupBtn:hover {
      background-color: rgb(252, 133, 133);
    } 

/* ----------------------------- */
    label {
      position: relative;
    }
    
    label:before {
      content: "";
      position: absolute;
      left: 775px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
    }
    
    a:link{text-decoration: none; color:inherit}
    a:active{color:inherit}
    a:visited{color:inherit}
    a:hover{color:inherit}
    
    .spellNameDiv {
     
      background-image: url(/front_end\IMGs\med.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-color: blue; /* Set the border color to blue */
      border-width: 100px;
      /* Add other styles as needed */
      width: 40%;
      /* margin-left: 57%; */
      
      margin-top: 4%;
      margin-right: 5%;
      
      padding-top: 1%;
      padding-bottom: 60%;
      height: 100%;
      top: -55px; 
      right: 100%;
      border-radius: 20px;    
      float: right;
    }
  


    @media only screen and (max-width: 1000px) {
  /* Styles for screens up to 480px wide (phones) */
  .table-lines {
    z-index: 1;
    
    height: 45vh;

    margin: 2%;
    width: 96%;
    left: 0;
    /* word-wrap: break-word; --
    /* word-break: break-word;   */
  }
  

.search
{
  margin-right: 10%;
}

  .wrap
  {
    position: relative;
    top: 0%;
    margin-left: 49%;
  }

  #signupBtn
  {
    position: absolute;
    margin-left: 65px;
  }

 

  .custom-table a
  {
    font-size: 20px;
  }
  
  
  .spellNameDiv
  {
    float: left;
    width: 96%;
    margin: 2%;
  }


  .custom-table td {
    font-size: 20px;
  }

  .searchTerm {
    font-size: 120%;
  }
}



