
@font-face {
  font-family:DraconicFont ;
  src: url(../Fonts/Draconis-JRw6B.ttf);
}
/* - */
.table-lines {
  position: relative;
  width: 800px;
  min-width: 800px ;
  height: 1100px;
  column-count: auto;
  width: 40%;
  top: 10px;
  left: 10%;
  margin: 1%;
  background-image: url("../IMGs/med.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #424242;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 2%;
  vertical-align: top;

  /* background-image: url("../IMGs/med.png");
  position: relative;
  background-color: #15151570;
  display: inline-block;
  width: 600px;
  height: 600px;
  margin-left: 15%;
  margin-top: 5%;
  border-radius: 20px;
  padding: 20px;
  vertical-align: top; */

}


.custom-table {
  width: 100%;
  border-collapse: collapse;
}

/* Firefox scrollbar */
.table-lines {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  
}
.table-lines::-webkit-scrollbar {
  display: thin; /* Chrome opera safari */
}

    .custom-table a:hover {
      color: #555;
    } 
    
    /* .custom-table th, */
    .custom-table td {
      border: 3px solid rgba(5, 5, 5, 0.15);
      padding: 8px;
      text-align: center; /* Center the text in all cells */
      font-size: 16px;
      font-family: DraconicFont;
      font-weight: lighter;
    }
    
    .custom-table th {
      background-color: rgba(12, 12, 12, 1);
      position: sticky;
      top: 0; /* Set the distance from the top where the <th> will stick */
      z-index: 2; /* Set a higher z-index to make sure it appears above the regular cells */
    }
    
  
    
    .custom-table a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-family: DraconicFont;
      font-weight: lighter;
      display: block;
      padding: 8px;
    }
    


    /* Center the text in the "Name" column */
    .custom-table td:nth-child(2) {
      text-align: left;
    }
    
    /* Set specific widths for the "Time," "C," and "Lvl" columns */
    
    .custom-table td:nth-child(1)
    {
      width: 1px ;
      max-height: 1px;
    }
    
    .custom-table td:nth-child(2)
    {
      width: 350px ;
    }

    .custom-table td:nth-child(3)
    {
      width: 20px ;
    }
    .custom-table td:nth-child(4)
    {
      width: 25px ;
    }

    .custom-table td:nth-child(5)
    {
      width: 25px ;
    }
    
    .custom-table td:nth-child(6)
    {
      width: 25px ;
    }
    
  
    
   

    /* CSS Yura */

    body {
      background-color: #202020;
      margin: 0px;
      padding: 0px;
    }
    
    #navbar {
    
      position: sticky;
      height: 80px;
      background-color: #151515;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
    }
    
    #srcbar {
      background-color: #f2f2f27a;
      height: 50px;
      width: 600px;
      margin-left: 200px;
      border-radius: 25px;
      text-align: center;
      font-size: 26px;
      border-color: transparent;
      user-select: none;
      text-decoration: none;
    }
    #srcbar:focus { outline: none;}
    
    #signupBtn {
      background-color: #ff010a;
      color: #151515;
      border-radius: 10px;
      width: 200px;
      height: 50px;
      text-align: center;
      align-items: center;
      font-size: 22px;
      line-height: 50px;
      margin-right: 50px;
      border-color: transparent;
      text-decoration: none;
    }
    
    label {
      position: relative;
    }
    
    label:before {
      content: "";
      position: absolute;
      left: 775px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
    }
    
    a:link{text-decoration: none; color:inherit}
    a:active{color:inherit}
    a:visited{color:inherit}
    a:hover{color:inherit}

    

    .spellNameDiv{
      background-image: url("../IMGs/med.png");
  background-repeat: no-repeat;
  background-size: cover;
      position: relative;
      background-color: #15151570;
      display: inline-block;
      width: 600px;
      height: 600px;
      margin-left: 15%;
      margin-top: 5%;
      border-radius: 20px;
      padding: 20px;
      vertical-align: top;

      
    }

    
    #spellNameText {
      font-family: DraconicFont;
      font-size: 32px;
      color: #000;
      margin-left: 75px;
      
    }

    #spellChar{
      font-size: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #2b2b2b;
      margin-left: 250px;
    }

    #infoAboutSpellDiv{
      position: relative ;
      /* background-image: url("../IMGs/med.png"); */
      width: 500px ;
      margin-top: 100px;
      margin-left: 50px;
      border-radius: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      color: #000;
    }




  
   