@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ШРИФТ */
@font-face {
  font-family:DraconicFont ;
  src: url(../Fonts/Draconis-JRw6B.ttf);
}

body {
    background-color: #202020;
    margin: 0px;
    padding: 0px;
    user-select: none;
  }

  #navbar {
    
    position: sticky;
    height: 80px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }

  .backmenu {
    /* min-width: 138px; */
    width: 138px;
    height: 37px;
    border: none;
    border-radius: 10px;
    display: flex;
    background-color: red;
    font-family: DraconicFont;
    font-size: 160%;
    color: rgba(21, 21, 21, 1);
    margin: 1%;
    cursor: pointer;
    transition: all 0.3s linear;
    
    padding-left: 24px;
    padding-top: 6px;
    box-shadow: 4px 4px 10px black;
  }

  .backmenu:hover {
    background-color: rgb(252, 133, 133);
  } 

  #srcbar {
    background-color: #f2f2f27a;
    height: 50px;
    width: 600px;
    margin-left: 200px;
    border-radius: 25px;
    text-align: center;
    font-size: 26px;
    border-color: transparent;
    user-select: none;
    text-decoration: none;
  }
  #srcbar:focus { outline: none;}


  #signupDiv{
    background-color: #161616;
    width: 700px;
    height: 750px;
    border-radius: 25px;
    position: relative;
    margin-top: 40px;
    margin-left: 30%;
    text-align: center;
    padding: 10px 5px;
  }




  #signupTitle {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    color: #ffffff8f;
    user-select: none;
  }

  #formDiv {
    margin-top: 100px;
    color: #ffffff8f;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-left: 90px;
  }

  input[type="email"] {
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff7e;
    width: 500px;
    height: 50px;
    border-radius: 18px;
    font-size: 22px;
    border-color: transparent;
  }

  input[type="email"]:focus {outline: none;}
  
  input[type="password"] {
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff7e;
    width: 500px;
    height: 50px;
    border-radius: 18px;
    font-size: 22px;
    border-color: transparent;
  }

  input[type="password"]:focus {outline: none;}

  input[type="text"] {
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff7e;
    width: 500px;
    height: 50px;
    border-radius: 18px;
    font-size: 22px;
    border-color: transparent;
  }

  input[type="text"]:focus {outline: none;}

  input[type="submit"] {
    font-family: "Roboto", sans-serif;
    width: 250px;
    height: 50px;
    background-color: #BF1818;
    border-color: transparent;
    color: #c4c4c4;
    font-style: bold;
    border-radius: 18px;
    font-size: 16px;
  }

  input[type="submit"]:hover {
    transition: all .7s;
    color: #ffffffda;
    /* background-color: #ff0000; */
    border-width: 1px;
    border-color: #bf18189a;
  }

  #altHref {
    color: #ffffff65;
    font-size: 12px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Roboto", sans-serif;
  }

  #altHref:hover {
    transition: all .7s;
    color: #BF1818;
  }



  a {
    user-select: none;
    text-decoration: none;
  }

  a:visited { text-decoration: none;}
  a:hover { text-decoration: none;}


  /* #showPasswordButton {
    position: relative;

  } */

  #showPasswordButton {
    content: "";
    position: relative;
    margin-left: 475px;
    top: 42px;
    bottom: 75px;
    /* height: 25px; */
    width: 20px;

  }

 span {
    user-select: none;
 }