:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  
  .flex-row-bbf {
    width: 97.24%;
    height: 100%;
    display: inline-block;
    z-index: 39;
  }
    
    /* Position for tabel */
    /* table frame */
    .table-lines {
      position: fixed;
      width: 816px;
      height: 849px;
      top: 139px;
      left: 170px;
      margin: 7px 0 0 0;
      background-image: url(" /front-end/IMGs/med.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: 2px solid #424242;
      z-index: 11;
    }
    
    
      .custom-table {
        width: 100%;
        border-collapse: collapse;
      }
      

      /* .custom-table th, */
      .custom-table td {
        border: 3px solid rgba(0, 0, 0, 0.15);
        padding: 8px;
        text-align: center; /* Center the text in all cells */
        font-size: 16px;
        font-family: DraconicFont;
        font-weight: lighter;
      }
      
      .custom-table th {
        background-color: rgba(12, 12, 12, 0.9);
        
      }
      
      .custom-table a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        font-family: DraconicFont;
        font-weight: lighter;
        display: block;
        padding: 8px;
      }
      
      .custom-table a:hover {
        color: #555;
      }
      
      /* Center the text in the "Name" column */
      .custom-table td:nth-child(2) {
        text-align: left;
      }
      
      /* Set specific widths for the "Time," "C," and "Lvl" columns */
      
      .custom-table td:nth-child(1)
      {
        max-width: 5px ;
      }
      
      .custom-table td:nth-child(2)
      {
        max-width: 500px ;
      }

      .custom-table td:nth-child(3)
      {
        max-width: 10px ;
      }
      .custom-table td:nth-child(4)
      {
        max-width: 10px ;
      }

      .custom-table td:nth-child(5)
      {
        max-width: 15px ;
      }
      
      .custom-table td:nth-child(6)
      {
        max-width: 15px ;
      }

      .custom-table td:nth-child(3),
      .custom-table td:nth-child(1) {
        width: 80px; 
      }
      
      
      @font-face {
        font-family:DraconicFont ;
        src: url(/front-end/Fonts/Draconis-JRw6B.ttf);
      }