
@font-face {
  font-family:DraconicFont ;
  src: url(/front-end/Fonts/Draconis-JRw6B.ttf);
}

  /* table frame */
  .table-lines {
    position: relative;
    width: 816px;
    height: 849px;
    top: 139px;
    left: 170px;
    margin: 1%;
    background-image: url(" /front-end/IMGs/med.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #424242;
    z-index: 11;
    display: inline-block;
  }
  
  
    .custom-table {
      width: 100%;
      border-collapse: collapse;
    }
    

    /* .custom-table th, */
    .custom-table td {
      border: 3px solid rgba(0, 0, 0, 0.15);
      padding: 8px;
      text-align: center; /* Center the text in all cells */
      font-size: 16px;
      font-family: DraconicFont;
      font-weight: lighter;
    }
    
    .custom-table th {
      background-color: rgba(12, 12, 12, 0.9);
      
    }
    
    .custom-table a {
      text-decoration: none;
      color: #ffffff;
      font-size: 16px;
      font-family: DraconicFont;
      font-weight: lighter;
      display: block;
      padding: 8px;
    }
    
    .custom-table a:hover {
      color: #555;
    }
    
    /* Center the text in the "Name" column */
    .custom-table td:nth-child(2) {
      text-align: left;
    }
    
    /* Set specific widths for the "Time," "C," and "Lvl" columns */
    
    .custom-table td:nth-child(1)
    {
      max-width: 5px ;
    }
    
    .custom-table td:nth-child(2)
    {
      max-width: 500px ;
    }

    .custom-table td:nth-child(3)
    {
      max-width: 10px ;
    }
    .custom-table td:nth-child(4)
    {
      max-width: 10px ;
    }

    .custom-table td:nth-child(5)
    {
      max-width: 15px ;
    }
    
    .custom-table td:nth-child(6)
    {
      max-width: 15px ;
    }

    .custom-table td:nth-child(3),
    .custom-table td:nth-child(1) {
      width: 80px; 
    }
    
    
   

    /* CSS Yura */

    body {
      background-color: #202020;
      margin: 0px;
      padding: 0px;
    }
    
    #navbar {
    
      position: sticky;
      height: 80px;
      background-color: #151515;
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
    }
    
    #srcbar {
      background-color: #f2f2f27a;
      height: 50px;
      width: 600px;
      margin-left: 200px;
      border-radius: 25px;
      text-align: center;
      font-size: 26px;
      border-color: transparent;
      user-select: none;
      text-decoration: none;
    }
    #srcbar:focus { outline: none;}
    
    #signupBtn {
      background-color: #ff010a;
      color: #151515;
      border-radius: 10px;
      width: 200px;
      height: 50px;
      text-align: center;
      align-items: center;
      font-size: 22px;
      line-height: 50px;
      margin-right: 50px;
      border-color: transparent;
      text-decoration: none;
    }
    
    label {
      position: relative;
    } 
    
    label:before {
      content: "";
      position: absolute;
      left: 775px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
    }
    
    a:link{text-decoration: none; color:inherit}
    a:active{color:inherit}
    a:visited{color:inherit}
    a:hover{color:inherit}
 

  
   