.main-side-div {

    display: flex;

    .left-side-div {
        width: 60%;
        display: inline-block;
    }
    .right-side-div {
        width: 40%;
        height: 900px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 60px;

    }
}

