/* Font */
@font-face {
  font-family: DraconicFont;
  src: url(../Fonts/Draconis-JRw6B.ttf);
}

/* ////////////////////
////////// CSS Variables
//////////////////// */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0px;
  text-overflow: "";
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  font-family: DraconicFont;
  margin: 1%;
}

.DropList {
  font-family: DraconicFont;
  min-width: 39%;
  position: absolute;
  margin-left: 50%;
  cursor: pointer;
  background-color: rgba(96, 96, 96, 1);
  color: white;
  border-radius: 10px;
  border: 0 solid #e2e8f0;
  color: #0d172a;
  font-size: 1.1rem;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

/* ////////////////////
////////// General Styles
//////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* ////////////////////
////////// Main container
//////////////////// */
.container {
  width: auto;
  height: 100vh;
  transition: margin-left 0.3s linear;
}

/* ////////////////////
////////// Sidebar Menu
//////////////////// */
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background-color: var(--pine-tree);
  transition: width 0.3s linear;
  background-color: rgba(37, 37, 37, 1);
}

.sidebar_header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(37, 37, 37, 1);
}

.sidebar_menu {
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 1);
}

img {
  border-radius: 2px;
  padding: 3px;
  width: 110px;
  transition: margin-right 4s ease-in-out;
}

.sidebar_menu h4 {
  margin-bottom: 4%;
  margin-left: 3%;
  font-size: 160%;
  font-weight: lighter;
  font-family: DraconicFont;
  color: white;
}

/* -----------------------------------------------Ihor ivantso terraria------------------------------------------------------------- */
.dropdown-check-list {
  display: inline-block;
  margin-bottom: 4%;
  margin-left: 3%;
  font-size: 160%;
  font-weight: lighter;
  font-family: DraconicFont;
  color: white;
  width: 86%;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
  padding-left: 3%;
}

/* -------------------------------------------------------------------------------------------------------- */

.active {
  width: 350px;
}
.active_margin_left {
  margin-left: 350px;
}

.backward {
  position: absolute;

  float: left;
  width: 43px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
  font-family: DraconicFont;
  font-size: 160%;
  margin-left: 3%;
  margin-top: 4%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.backwardico {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.logo {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90px;
}

/* ////////////////////
////////// HEADER
//////////////////// */
.header {
  width: 100%;
  height: 50px;
  background-color: rgba(37, 37, 37, 1);
  position: sticky;
  height: 80px;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

/* apply and clear button */

.apply {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: DraconicFont;
  font-size: 170%;
  background-color: rgb(163, 12, 4);
  color: rgba(21, 21, 21, 1);
  outline: none;
  cursor: pointer;
  width: 40%;
  transition: all 0.3s linear;
  border: none;
  border-radius: 4px;
  padding-bottom: 2px;
  box-shadow: 2px 2px 5px black;
}
.apply:hover {
  background-color: rgb(252, 133, 133);
}

.clear {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 55%;
  margin-bottom: 5%;
  font-family: DraconicFont;
  font-size: 170%;
  background-color: rgb(163, 12, 4);
  color: rgba(21, 21, 21, 1);
  outline: none;
  cursor: pointer;
  width: 40%;
  transition: all 0.3s linear;
  border: none;
  border-radius: 4px;
  padding-bottom: 2px;
  box-shadow: 2px 2px 5px black;
}
.clear:hover {
  background-color: rgb(252, 133, 133);
}

/* Sidebar Toggle Button  */

.btn-toggle {
  width: 50px;
  height: 50px;
  max-width: 90px;
  border: none;
  border-radius: 10px;
  display: flex;
  background-color: rgb(163, 12, 4);
  /* font-family: DraconicFont; */
  /* font-size: 160%; */
  color: rgba(21, 21, 21, 1);
  margin: 1%;
  cursor: pointer;
  transition: all 0.3s linear;
  /* padding-left: 18px; */
  /* padding-top: 3px; */
  box-shadow: 4px 4px 10px black;
}

.ListIco {
  width: 100%;
  height: 100%;
}

.btn-toggle:hover {
  background-color: rgb(252, 133, 133);
}

.sidebarHeaderText {
  font-size: 150%;
  font-family: DraconicFont;
  color: #a20c04;
  float: left;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* Phones */
@media only screen and (max-width: 1000px) {
  .header {
      position: fixed;
      z-index: 2;
  }

  .active_margin_left {
      margin-left: 0%;
  }

  .sidebar {
      z-index: 3;
  }

  .sidebar.active {
      z-index: 3;
      width: 100%;
  }

  .backward {
      margin-top: 5px;
      margin-left: 2%;
  }

  .logo {
      width: 100px;
  }

  .btn-toggle {
      position: absolute;
      width: 50px;
      height: 50px;
      margin: 7px;
  }

  .ListIco {
      width: 100%;
      height: 100%;
  }

  .text {
      padding-right: 0%;
      word-break: break-all;
  }

  .sidebar_menu {
      z-index: 2;

      display: inline-block;
      flex-direction: column;
  }

  .DropList {
      margin-left: 60%;
      margin-bottom: 0px;
      margin-top: 0%;
  }

  .apply {
      font-size: 150%;
      margin-bottom: 17%;
      width: 90%;
      margin-right: 5%;
      margin-bottom: 60px;
  }

  .clear {
      font-size: 150%;
      width: 90%;
      margin-right: 5%;
      margin-bottom: 15px;
  }
}