@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .home-bg-url {
        background: url("https://dvoxsotka.s3.amazonaws.com/arcane-tavern/homePageBG.png");
    }
    .outline-shadow {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .desc-text {
        color: rgb(255, 255, 255);
        font-size: 0.9vmax;
        padding: 15px 2%;
        border-radius: 10%;
    }
    .higher {
        padding-top: 10px;
        color: lightgrey;
    }
}