@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

@layer base{   
    body {
        background-size: cover;
    }

}

@layer components {
    .navbar {
        background-color: rgba(12, 12, 12, 0.534);
    }
}

@layer utilities{
    .desc-text {
        color: rgb(255, 255, 255);
        font-size: 0.9vmax;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 10%;
    }
    .higher {
        padding-top: 10px;
        color: lightgrey;
    }
}

@layer components{
    .selection-div{
        font-size: 1vmax;
        width: 25%;
        height: 10%;
        background-color:#00000080;
        color: whitesmoke;
        display: inline-block;
        padding: 10px 1%;
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        cursor: pointer;
        transition: .2s ease-in;

        &.mselection {
            width: 10%;
            border-radius: 4px;
            padding: 2% 0%;
            width: 15%;

            &:focus{
                background-color: rgba(76, 0, 130, 0.7);
            }
        }
        &.stats-div {
            width: 12%;
            height: 180px;
        }
    }
}