@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  

@layer base{   
    body {
        background-size: cover;
    }

}

@layer components {
    .navbar {
        background-color: rgba(12, 12, 12, 0.534);
    }
}

@layer utilities{
    .desc-text {
        color: rgb(255, 255, 255);
        font-size: 0.9vmax;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 10%;
    }
    .higher {
        padding-top: 10px;
        color: lightgrey;
    }
}