#scene {
    margin-top: 30%;
    margin-left: 30%;
    perspective: 1000px;
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .d20 {
    margin-left: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
  }
  
  .face {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 104px; /* Змініть розмір граней за необхідності */
    border-color: transparent transparent red;
    text-align: center;
    font-size: 24px;
    line-height: 104px; /* Це поле може бути різним, залежно від вашого розміру шрифту і грані */
  }
  
 /* Додайте правила перетворення для всіх 20 граней тут */

#face1 {
    transform: rotateY(0deg) translateZ(0px);
  }
  
  #face2 {
    transform: rotateZ(65deg) translateY(90px);
  }
/*  
  #face3 {
    transform: rotateY(144deg) translateZ(80px);
  }
  
  #face4 {
    transform: rotateY(216deg) translateZ(80px);
  }
  
  #face5 {
    transform: rotateY(288deg) translateZ(80px);
  }
  
  #face6 {
    transform: rotateX(116.57deg) rotateY(0deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face7 {
    transform: rotateX(116.57deg) rotateY(72deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face8 {
    transform: rotateX(116.57deg) rotateY(144deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face9 {
    transform: rotateX(116.57deg) rotateY(216deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face10 {
    transform: rotateX(116.57deg) rotateY(288deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face11 {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-36deg) translateZ(80px);
  }
  
  #face12 {
    transform: rotateX(0deg) rotateY(72deg) rotateZ(-36deg) translateZ(80px);
  }
  
  #face13 {
    transform: rotateX(0deg) rotateY(144deg) rotateZ(-36deg) translateZ(80px);
  }
  
  #face14 {
    transform: rotateX(0deg) rotateY(216deg) rotateZ(-36deg) translateZ(80px);
  }
  
  #face15 {
    transform: rotateX(0deg) rotateY(288deg) rotateZ(-36deg) translateZ(80px);
  }
  
  #face16 {
    transform: rotateX(-116.57deg) rotateY(0deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face17 {
    transform: rotateX(-116.57deg) rotateY(72deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face18 {
    transform: rotateX(-116.57deg) rotateY(144deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face19 {
    transform: rotateX(-116.57deg) rotateY(216deg) rotateZ(0deg) translateZ(80px);
  }
  
  #face20 {
    transform: rotateX(-116.57deg) rotateY(288deg) rotateZ(0deg) translateZ(80px);
  } */
    