@font-face {
  font-family: DraconicFont;
  src: url(../../../public/fonts/Draconis-JRw6B.ttf);
}
$containerWidth: 25vh;
$containerHeight: $containerWidth;

$faceWidth: $containerWidth * 0.5;
$faceHeight: $faceWidth * 0.86;

$transitionDuration: 0.5s;
$animationDuration: 3s;

$angle: 53deg;
$ringAngle: -11deg;
$sideAngle: 360deg / 5;
$opacity: 1.75;
$color: rgba(79, 18, 113, $opacity);

$rotateX: -$angle;
$translateZ: $faceWidth * 0.335;
$translateY: -$faceHeight * 0.15;
$translateRingZ: $faceWidth * 0.75;
$translateRingY: $faceHeight * 0.78 + $translateY;
$translateLowerZ: $translateZ;
$translateLowerY: $faceHeight * 0.78 + $translateRingY;

@keyframes roll {
  10% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  30% {
    transform: rotateX(120deg) rotateY(240deg) rotateZ(0deg) translateX(40px)
      translateY(40px);
  }
  50% {
    transform: rotateX(240deg) rotateY(480deg) rotateZ(0deg) translateX(-40px)
      translateY(-40px);
  }
  70% {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(0deg);
  }
  90% {
    transform: rotateX(480deg) rotateY(960deg) rotateZ(0deg);
  }
}

.randomize {
  height: $containerWidth;
  width: $containerWidth;
  color: #000;
  opacity: 0;
  cursor: pointer;
}

.MainDiceCointiner {
  background-color: #191020;
  height: auto;
  padding-bottom: 100px;
  //   background-image: url(../../../public/Red-Carpet-Textur.jpg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  background: linear-gradient(#191020, #020202);

  .DiceLabel {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 60px;
      text-transform: uppercase;
      font-family: "Gambetta", serif;
      //   font-family: DraconicFont;
      letter-spacing: -3px;
      transition: 700ms ease;
      font-variation-settings: "wght" 311;
      margin-bottom: 0.8rem;
      color: PaleGoldenRod;
      outline: none;
      text-align: center;

      &:hover {
        font-variation-settings: "wght" 582;
        letter-spacing: 1px;
      }
    }
  }
}

.content {
  margin: auto auto;
  position: relative;
  width: $containerWidth;
  height: $containerHeight;
  perspective: 1500px;
  //   background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
}

.die {
  margin-top: 40px;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform $transitionDuration ease-out;
  cursor: pointer;
  font-family: DraconicFont;
  &.face {
    color: aqua;
  }

  transform: rotateX($rotateX);

  &.rolling {
    animation: roll $animationDuration linear;
  }

  @for $i from 1 through 5 {
    &[data-face="#{$i}"] {
      $angleMultiplier: $i - 1;
      transform: rotateX(-$angle) rotateY($sideAngle * $angleMultiplier);
    }
  }

  @for $i from 16 through 20 {
    &[data-face="#{$i}"] {
      $angleMultiplier: $i - 15;
      transform: rotateX(-$angle + 180deg)
        rotateY(-$sideAngle * $angleMultiplier);
    }
  }

  @for $i from 6 through 10 {
    &[data-face="#{$i}"] {
      $angleMultiplier: $i - 6;
      transform: rotateX(-$ringAngle)
        rotateZ(180deg)
        rotateY($sideAngle * $angleMultiplier);
    }
  }

  @for $i from 11 through 15 {
    &[data-face="#{$i}"] {
      $angleMultiplier: $i - 8;
      transform: rotateX(-$ringAngle)
        rotateY(-$sideAngle * $angleMultiplier - $sideAngle / 2);
    }
  }

  .face {
    $horizontalMargin: -$faceWidth * 0.5;

    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 $horizontalMargin;
    border-left: $faceWidth * 0.5 solid transparent;
    border-right: $faceWidth * 0.5 solid transparent;
    border-bottom: $faceHeight solid $color;
    width: 0px;
    height: 0px;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    counter-increment: steps 1;

    &:before {
      content: counter(steps);
      position: absolute;
      top: $faceHeight * 0.25;
      left: -$faceWidth;
      color: #d877ff;
      text-shadow: 1px 1px 3px #000;
      font-size: $faceHeight * 0.5;
      text-align: center;
      line-height: $faceHeight * 0.9;
      width: $faceWidth * 2;
      height: $faceHeight;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        $angleMultiplier: $i - 1;
        transform: rotateY(-$sideAngle * $angleMultiplier)
          translateZ($translateZ)
          translateY($translateY)
          rotateX($angle);
      }
    }

    @for $i from 16 through 20 {
      &:nth-child(#{$i}) {
        $angleMultiplier: $i - 18;
        transform: rotateY($sideAngle * $angleMultiplier + $sideAngle / 2)
          translateZ($translateLowerZ)
          translateY($translateLowerY)
          rotateZ(180deg)
          rotateX($angle);
      }
    }

    @for $i from 6 through 10 {
      &:nth-child(#{$i}) {
        $angleMultiplier: $i - 11;
        transform: rotateY(-$sideAngle * $angleMultiplier)
          translateZ($translateRingZ)
          translateY($translateRingY)
          rotateZ(180deg)
          rotateX($ringAngle);
      }
    }

    @for $i from 11 through 15 {
      &:nth-child(#{$i}) {
        $angleMultiplier: $i - 8;
        transform: rotateY($sideAngle * $angleMultiplier + $sideAngle / 2)
          translateZ($translateRingZ)
          translateY($translateRingY)
          rotateX($ringAngle);
      }
    }
  }
}
